.blog {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	height: 85vh;
}

.details {
	height: 100%;
	grid-row: 1/13;
	grid-column: 1/9;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	margin: auto 2vw;
	padding: 0% 1%;
}

.image img {
	border-radius: 10px;
	height: 100%;
	width: 100%;
}
.image {
	grid-column: 1/13;
	grid-row: 1/8;
}

.heading {
	grid-column: 1/13;
	grid-row: 1/8;
	margin-top: 1%;
	text-align: center;
	background-color: rgb(255, 255, 255, 0.2);
}
.content {
	grid-column: 1/13;
	grid-row: 8/13;
	padding: 2%;
	text-align: justify;
	margin: 0;
}

.links {
	grid-row: 2/12;
	grid-column: 9/13;
	border-radius: 10px;
	background-color: black;
	text-align: center;
	font-size: 25px;
}

h3 {
	color: #2ec4b6;
	font-weight: 900;
	padding: 2%;
}

@media (max-width: 852px) {
	.blog {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.links {
		width: 95%;
		margin: 5vh auto;
	}
}
